@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Muli", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  width: 100px;
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.menu img {
  width: 30px;
  height: 30px;
}

nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(34, 31, 31);
  width: 60%;
  max-width: 480px;
  min-width: 320px;
  transform: translateX(-100%);
  transition: 0.3s ease;
}

nav.active {
  transform: translateX(0);
}

.rednav {
  background-color: rgb(229, 9, 20);
  width: 95%;
  height: 100vh;
  transform: translateX(-100%);
  transition: 0.3s ease;
}

.rednav.active {
  transform: translateX(0);
}

.whitenav {
  background-color: white;
  width: 95%;
  height: 100vh;
  padding: 40px;
  position: relative;
  transform: translateX(-100%);
  transition: 0.3s ease;
}

.whitenav.active {
  transform: translateX(0);
}
.whitenav img {
  width: 80px;
}

.whitenav button {
  position: absolute;
  right: 10px;
  top: 60px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.whitenav button img {
  width: 30px;
  height: 30px;
}

.whitenav ul {
  list-style-type: none;
}

ul li {
  margin: 20px 0;
}

ul li a {
  text-decoration: none;
}

li a {
  color: rgb(34, 31, 31);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

li ul {
  list-style-type: none;
  padding-left: 20px;
}
